body {
  min-width: 1100px;
  max-width: 1600px;
  font-size: 16px;
  line-height: 20px;
  font-family: Inter, Arial, sans-serif;
  box-sizing: border-box;
}
/* ----------------------------------------CSS Header----------------------------------------- */
.header {
  position: relative;
  background-color: #fff;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
}
.header .nav__logo {
  margin: 30px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav__links {
  display: flex;
  margin-top: 30px;
  margin-right: 26px;
}
.nav__link {
  margin-left: 20px;
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
a {
  text-decoration: none;
  color: #000;
}
.nav__link-tag:hover {
  color: #ff976b;
}
.header__title {
  margin-top: 183px;
  margin-left: 80px;
  max-width: 709px;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}
.header__title span {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  color: #ff976b;
}
.header__description {
  max-width: 683px;
  margin-top: 28px;
  margin-left: 80px;
  font-size: 20px;
  line-height: 30px;
}
.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}
.header__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 500;
  color: #6f6f6f;
  margin-top: auto;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 40px;
}
.info__text {
  margin-block: 0;
}
/* ----------------------------------------CSS Form----------------------------------------- */
.content {
  background-color: #ffd6c5;
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__input {
  border-radius: 4px;
  margin-bottom: 32px;
  height: 60px;
}
.form__input::placeholder {
  color: #838383;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.form__submit__button {
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}
.form__checkbox {
  border-radius: 2px;
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #2a2a2a;
  border: 1px solid #4f4f4f;
  outline: none;
  cursor: pointer;
  margin: 0;
  box-sizing: border-box;
}
.form__checkbox:checked {
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;
}
.form__terms__checkbox__fieldset {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 385px;
  width: 100%;
}
.form__title {
  margin-bottom: 80px;
  margin-top: 0;
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.form__label {
  font-family: "Inter";
  font-size: 20px;
  line-height: 30px;
}
.form__input {
  width: 100%;
  box-sizing: border-box;
  margin-top: 8px;
  padding: 15px 20px;
}
.form__submit__button {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #e96e3a;
  color: #fff;
  height: 60px;
  margin-bottom: 32px;
  transition: opacity 0.5s ease;
}
.form__submit__button:hover {
  opacity: 0.7;
}
.form__terms__checkbox__label {
  display: flex;
  gap: 12px;
}
/* ----------------------------------------CSS Form----------------------------------------- */
.footer {
  position: relative;
  background-color: #d35722;
  overflow: hidden;
}
.footer__circle {
  width: 340px;
  height: 340px;
  background-color: #e96e3a;
  border-radius: 50%;
  position: absolute;
  top: -128px;
  left: -44px;
  z-index: 1;
}
.footer__logo-and-media {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
}
.footer__logo {
  width: 105px;
  height: 39px;
  z-index: 1;
}
.footer__media-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: “Inter”;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.footer__media-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}
.footer__media-link {
  display: inline-flex;
  justify-content: flex-end;
  gap: 10px;
  height: 16px;
}
.footer__media-link:hover {
  color: #ffd6c5;
}
.footer__media-item {
  height: 16px;
}
.footer__media-icon {
  width: 16px;
  height: 16px;
}
.footer__media-text {
  font-family: “Inter”;
  font-size: 16px;
  line-height: 20px;
  transition: color 0.3s ease;
}
.design-by__text {
  margin-top: 108px;
  margin-bottom: 60px;
  margin-left: 80px;
  font-family: “Inter”;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
